<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:exported="false"
        android:icon="@mipmap/ic_launcher_onetohundred"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_onetohundred_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneToHundred" >
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".InstructionActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" >
        </activity>
    </application>

</manifest>